root = true

# Settings here are also set in .vscode/settings.json due to certain behaviors, updates need to be
# made in both places
[*]
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
