# (c) 2025 by CoreWeave, Inc.
#
# This file is part of Slurm Containers.
#
# Slurm Containers is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by the
# Free Software Foundation, either version 3 of the License,
# or (at your option) any later version.
#
# Slurm Containers is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with Slurm Containers; if not, write to the
# Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
# Boston, MA 02110-1301 USA

name: PR Orchestrator
on:
  pull_request:
    branches: ["main", "develop"]
    types:
      - opened
      - reopened
      - synchronize

permissions:
  contents: read
  packages: read # Required for pulling the cw actions images

jobs:
  commitlint:
    if: github.base_ref != 'main' && github.ref_name != 'develop' && github.ref_name != 'main'
    uses: ./.github/workflows/commitlint.yaml

  alls-green:
    if: always()
    needs:
      - commitlint
    runs-on: cw
    container: ghcr.io/coreweave/github-actions-images/github-base-runner:v1.7.0
    steps:
      - uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
        with:
          python-version: "3.13"
      - name: Decide whether the needed jobs passed or failed.
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
          allowed-skips: commitlint
